
html {
	height: 100%;
}

body {
	height: 100%;
}

.navbar-default {
	margin			: 0px;
    background-color: rgb(8, 88, 216);
}

.navbar-default .navbar-brand {
	color: rgb(235, 235, 235);
}

.navbar-brand {
	text-align: center;
	width	  : 100%;
}

#banner {
	height			   : 35%;
	background-color   : white;
	background-image   : url('../images/banner-image.jpg');
	background-size	   : 100%;
	background-position: 50% 25%;
	background-repeat  : no-repeat;
}

.main-container {
	height 		  : 100%;
	display		  : flex;
    flex-direction: row;
}

#main_container_window {
	flex-grow: 1;
	height	 : 100%;
	overflow : auto;
}

#side-menu {
	flex-grow : 1;
	flex-basis: auto;
    min-width : 15em;
	max-width : 20em;
	height	  : 100%;
	
	background-color: darkblue;
}

.menu-button {
	color: rgb(235, 235, 235); 
	width: 100%;
}
.menu-button:hover {
	background-color: rgb(0, 0, 110); 
}
.menu-link {
    margin: 0 1em 0 1em;
    color: rgb(235, 235, 235);
    width: 100%;
}

.menu-link:hover {
    color: rgb(225, 225, 225); 
}
/**
 * #########################################################
 * # CV
 * #########################################################
 */
.mainContentWindow__rowContainer {
    background-color: rgb(235, 235, 235);
    padding: 0.5em;
    border-radius: 0.5em;
    margin-bottom: 1em;
}

/**
 * #########################################################
 * # Modal
 * #########################################################
 */
/* 
.modal-window {
    display: none; 
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw; 
    height: 100vh;
    position: fixed; 
    background-color: rgba(0,0,0,0.4); 
}

main .modal-window .modal-form {
    display: none; 
    z-index: 1;
    background-color: white;
    width: 50%;
    max-width: 35rem;
    margin: 10rem auto 0 auto;
    padding: 1rem;
    border: 1px solid rgb(200,200,200);
    border-radius: 0.25rem;
    box-sizing: border-box;
}

main .modal-form div {
    display: flex;
    width: 100%;
}

main .modal-form div .error {
    width: 100%;
}

main .modal-form form {
    width: 100%;
}

main .modal-form div:not(:last-of-type) {
    margin-bottom: 1em;
}

main .modal-form .form-head {
    display: flex;
}

main .modal-form .form-head .form-title {
    flex: 4;
}

main .modal-form .form-head .form-close {
    flex: 0;
}

main .modal-window form input:not([type='checkbox']),
main .modal-window form label,
main .modal-window form textarea {
    flex: 1;
    color: rgb(55,55,55);
    padding: 0.5em;
    font-size: 1em;
}

main .modal-window form label {
    padding-left: 0;
}

main .modal-window form input,
main .modal-window form textarea {
    border-radius: 0.25em;
}

main .modal-window form textarea {
    min-height: 10em;
}

main .modal-window form input:not([type="submit"]),
main .modal-window form textarea {
    border: 1px solid rgb(200,200,200);
}

main .modal-window form input[type="submit"] {
    background-color: #42a5f5;
    color: white;
    border: 1px solid #42a5f5;
}

main .modal-window form input[type="submit"]:hover {
    background-color: #61adeb;
    border: 1px solid #42a5f5;
}

.form-close {
    color: #aaaaaa;
    float: right;
    font-size: 1rem;
    font-weight: bold;
}

.form-close:hover,
.form-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
} */